/* Home.css */

.container {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    max-width: 400px;
    margin:  10px auto;
  }
  
  .heading {
    font-size: 24px;
    color: blue;
  }
  
  .paragraph {
    font-size: 18px;
    /* color: aqua; */
  }
  
  
  
  nav {
    background-color: #333;
    border-radius: 10px;
    color: white;
    padding: 10px;
  }
  
  /* Style for navigation links */
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
  }
  
  /* Style for the page content */
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  /* Style for the page title */
  .content h1 {
    font-size: 24px;
    color: #333;
  }
  
  /* Style for the buttons */
  .button {
    background-color: #0074d9;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  
  /* Style for links in the content */
  .content a {
    color: #0074d9;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Voter CSS */
  
  /* Voter.css */
  
  /* Container style */
  .container2 {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    max-width: 400px;
    margin:  10px auto;
  }
  
  /* Heading style */
  .container2 h1 {
    font-size: 24px;
    color: #333;
  }
  
  /* List of candidates style */
  .candidate-list {
    list-style: none;
    padding: 0;
  }
  
  /* Candidate item style */
  .candidate-item {
    margin: 10px 0;
  }
  
  /* Candidate button style */
  .candidate-button {
    background-color: #0074d9;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .candidate-button:hover {
    background-color: #0056b3;
  }
  
  /* Submit button style */
  .submit-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  /* Voted message style */
  .voted-message {
    font-size: 18px;
    color: #28a745;
    font-weight: bold;
    margin-top: 10px;
  }
  